Client/Client/Connected Services/ServiceReferenceVirWallet/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FreeBalance" type="xs:double" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PermissionLevel" type="xs:int" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ForeignExchangeList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeignExchange" nillable="true" type="tns:ForeignExchange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForeignExchangeList" nillable="true" type="tns:ForeignExchangeList" />
  <xs:complexType name="ForeignExchange">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignExchange" nillable="true" type="tns:ForeignExchange" />
  <xs:complexType name="StockList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockList" nillable="true" type="tns:StockList" />
  <xs:complexType name="Stock">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="StockName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockSymbol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="ForeignExchangeTransactionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeignExchangeTransaction" nillable="true" type="tns:ForeignExchangeTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForeignExchangeTransactionList" nillable="true" type="tns:ForeignExchangeTransactionList" />
  <xs:complexType name="ForeignExchangeTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuyOrSell" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrencyAmount" type="xs:double" />
          <xs:element minOccurs="0" name="CurrencyValue" type="xs:double" />
          <xs:element minOccurs="0" name="DateSignature" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ForeignExchange" nillable="true" type="tns:ForeignExchange" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignExchangeTransaction" nillable="true" type="tns:ForeignExchangeTransaction" />
  <xs:complexType name="StockTransactionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockTransaction" nillable="true" type="tns:StockTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockTransactionList" nillable="true" type="tns:StockTransactionList" />
  <xs:complexType name="StockTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuyOrSell" type="xs:boolean" />
          <xs:element minOccurs="0" name="DateSignature" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:Stock" />
          <xs:element minOccurs="0" name="StockAmount" type="xs:int" />
          <xs:element minOccurs="0" name="StockValue" type="xs:double" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockTransaction" nillable="true" type="tns:StockTransaction" />
  <xs:complexType name="ForeignExchangeWalletList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeignExchangeWallet" nillable="true" type="tns:ForeignExchangeWallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForeignExchangeWalletList" nillable="true" type="tns:ForeignExchangeWalletList" />
  <xs:complexType name="ForeignExchangeWallet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrencyAmount" type="xs:double" />
          <xs:element minOccurs="0" name="ForeignExchange" nillable="true" type="tns:ForeignExchange" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ForeignExchangeWallet" nillable="true" type="tns:ForeignExchangeWallet" />
  <xs:complexType name="StockWalletList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockWallet" nillable="true" type="tns:StockWallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockWalletList" nillable="true" type="tns:StockWalletList" />
  <xs:complexType name="StockWallet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:Stock" />
          <xs:element minOccurs="0" name="StockAmount" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockWallet" nillable="true" type="tns:StockWallet" />
</xs:schema>