Client/Client/Connected Services/ServiceReferenceVirWallet/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SelectAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllForeignExchanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllForeignExchanges" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllForeignExchanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllForeignExchangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertForeignExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertForeignExchange" />
  </wsdl:message>
  <wsdl:message name="IService_InsertForeignExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertForeignExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateForeignExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForeignExchange" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateForeignExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateForeignExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteForeignExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForeignExchange" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteForeignExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteForeignExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllStocks" />
  </wsdl:message>
  <wsdl:message name="IService_SelectAllStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertStock_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStock" />
  </wsdl:message>
  <wsdl:message name="IService_InsertStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStock" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStock" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SelectAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectAllUsers" message="tns:IService_SelectAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectAllUsersResponse" message="tns:IService_SelectAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertUser" message="tns:IService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertUserResponse" message="tns:IService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateUser" message="tns:IService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateUserResponse" message="tns:IService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteUser" message="tns:IService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteUserResponse" message="tns:IService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllForeignExchanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectAllForeignExchanges" message="tns:IService_SelectAllForeignExchanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectAllForeignExchangesResponse" message="tns:IService_SelectAllForeignExchanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertForeignExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertForeignExchange" message="tns:IService_InsertForeignExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertForeignExchangeResponse" message="tns:IService_InsertForeignExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForeignExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateForeignExchange" message="tns:IService_UpdateForeignExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateForeignExchangeResponse" message="tns:IService_UpdateForeignExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteForeignExchange" message="tns:IService_DeleteForeignExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteForeignExchangeResponse" message="tns:IService_DeleteForeignExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SelectAllStocks" message="tns:IService_SelectAllStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectAllStocksResponse" message="tns:IService_SelectAllStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertStock" message="tns:IService_InsertStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertStockResponse" message="tns:IService_InsertStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStock" message="tns:IService_UpdateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStockResponse" message="tns:IService_UpdateStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteStock" message="tns:IService_DeleteStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteStockResponse" message="tns:IService_DeleteStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/SelectAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllForeignExchanges">
      <soap:operation soapAction="http://tempuri.org/IService/SelectAllForeignExchanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertForeignExchange">
      <soap:operation soapAction="http://tempuri.org/IService/InsertForeignExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForeignExchange">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateForeignExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteForeignExchange">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteForeignExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllStocks">
      <soap:operation soapAction="http://tempuri.org/IService/SelectAllStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStock">
      <soap:operation soapAction="http://tempuri.org/IService/InsertStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>